$color-01 = #fff
$color-02 = #293449
$color-03 = #f3f7f9
$color-04 = #ee3643
$color-05 = rgba(0, 0, 0, 0.24)
$color-06 = #32425c
$color-07 = #000
$color-08 = #ca2c37
$color-09 = #405069
$color-10 = #ffbf47
$color-11 = #3bbce3
$color-12 = #dc91d8
$color-13 = #8ed78f
$color-14 = #ffc047
$color-15 = #f9f5f0
$color-16 = #a9a9a9
$color-17 = #f5f8fa
$color-18 = #f1f5f7
$color-19 = #ffd180
$color-20 = #212a3a
$color-21 = #ba2732
$color-22 = #161d29
$color-23 = #5fbb2d
$color-24 = #518534
$color-25 = #63a63e
$color-26 = #1d2739
$color-27 = rgba(41, 52, 73, 0.5)
$color-28 = #367315
$color-29 = #f2f6f8
$color-30 = #e5e5e5
$color-31 = #bdc6ca
$color-32 = #f2f6f8
$color-33 = #f7f3ec
$color-34 = #c5c5c5
$color-35 = #f1f1f1
$color-36 = rgba(0, 0, 0, 0.75)
$color-37 = #f4f4f4
$color-38 = #dee3e4

html
  box-sizing border-box

*, *::before, * ::after
  box-sizing inherit

@font-face
  font-family "Cuprum"
  src url('../fonts/web/cuprum.woff2') format('woff2'),
      url('../fonts/web/cuprum.woff') format('woff')
  font-style normal
  font-weight 400

@font-face
  font-family "Cuprum-Italic"
  src url('../fonts/web/cuprumitalic.woff2') format(woff2),
      url('../fonts/web/cuprumitalic.woff') format(woff)
  font-style italic
  font-weight 400

@font-face
  font-family "Cuprum-Bold"
  src url('../fonts/web/cuprumbold.woff2') format('woff2'),
      url('../fonts/web/cuprumbold.woff') format('woff')
  font-style normal
  font-weight 700

@font-face
  font-family "pt-sans-bold"
  src url('../fonts/web/ptsansbold.woff2') format('woff2'),
      url('../fonts/web/ptsansbold.woff') format('woff')
  font-style normal
  font-weight 700

@font-face
  font-family "pt-sans"
  src url('../fonts/web/ptsans.woff2') format('woff2'),
      url('../fonts/web/ptsans.woff') format('woff')
  font-style normal
  font-weight 400

.page
  margin 0 auto
  $color-01
  font 14px "Cuprum"
  line-height 18px

.visually-hidden
  position absolute
  height 1px
  width 1px
  overflow hidden
  clip rect(1px 1px 1px 1px)
  clip rect(1px, 1px, 1px, 1px)
  white-space nowrap

.btn
  background-color $color-04
  text-transform uppercase
  text-decoration none
  &:hover
    background-color $color-08
  &:active
    background-color $color-21

.page-header
  background-color $color-03

.top-row
  background-color $color-02
  font-size 17px
  text-transform capitalize

.logo-top
  box-shadow inset 0 -5px 0 $color-05
  background-color $color-04
  &:hover
    background-color $color-08
  &:active
    background-color $color-21

a
  color $color-01
  text-decoration none

.search
  &:hover
    background-color $color-20

.bookmarks, .cart
  &:hover
    background-color $color-20
  &:active
    background-color $color-22

.bookmark-icon
  display inline-block
  width 14px
  height 16px
  background $color-01 url('../img/icon-bookmark.svg')
  opacity 0.3

.cart-icon
  display inline-block
  width 15px
  height 15px
  background $color-01 url('../img/icon-cart.svg')
  opacity 0.3

.order
  background-color $color-25
  &:hover
    background-color $color-23
  &:active
    background-color $color-24

.slogan
  color $color-04
  font 25px "Cuprum-Italic"
  line-height 23px

.phone-number
  border 3px solid $color-01

.phone
  background-image url('../img/icon-phone.svg')

.number
  color $color-04
  line-height 21px
  font-size 21px

.address
  p
    color $color-06
    line-height 24px

/* catalog style start */

.authorization
  font 21px "Cuprum"
  line-height 21px
  a
    color $color-07
    background-color $color-01
    &:hover
      color $color-04
    &:active
      opacity 0.3
      color $color-07

.enter
  path
    &:hover
      fill $color-06

.customer, .logout
  path
    &:hover
      fill $color-06

.personal-item:first-child
    list-style none

.personal-item
  a
    color $color-06
    font-size 16px
    text-decoration underline
    &:hover
      color $color-04
    &:active
      opacity 0.3
      color $color-06

/* catalog style end */

.navigation
  box-shadow inset 0 -5px 0 $color-02
  background-color $color-06
  font-size 17px
  line-height 17px

.navigation
  a
    color $color-01
    text-decoration none

.navigation-item
  list-style none
  &:hover
    background-color $color-02
  &:active
    background-color $color-26

.categories-item
  h3
    color $color-01
    font 24px "Cuprum-Bold"
    line-height 30px
    text-transform capitalize

.material
  background url('../img/icon-1.svg') no-repeat $color-10

.click
  background-color $color-07
  opacity 0.1
  text-align center
  text-transform uppercase
  text-decoration none
  &:hover
    opacity 0.2
  &:active
    opacity 0.3

.tool
  background url('../img/icon-2.svg') no-repeat $color-11

.slider-item
  h3
    color $color-01
    font 36px "Cuprum-Bold"
    line-height 36px
    text-transform uppercase
  p
    font-size 18px
    line-height 24px
    color $color-01

.perf
  background url('../img/perf.jpg') no-repeat

.drill
  background url('../img/drill.jpg') no-repeat

.prev
  background-image url('../img/icon-left.svg')
  width 22px
  height 40px

.next
  background-image url('../img/icon-right.svg')
  width 22px
  height 40px

.technic
  background url('../img/icon-3.svg') no-repeat $color-12

.sale
  background url('../img/icon-4.svg') no-repeat $color-13

.delivery
  background url('../img/icon-5.svg') no-repeat $color-14

/* catalog styles start */

.breadcrumbs-item
  list-style none
  a
    font 13px "pt-sans"
    color $color-07
    text-transform uppercase

.home
  background url('../img/icon-home.svg') no-repeat
  width 14px
  height 12px

  a
    display inline-block
    vertical-align top
    width 100%
    height 100%

.content-title
    background-color $color-32
    color $color-06
    font-size 30px
    line-height 30px
    text-transform uppercase

.aside
  font 17px "pt-sans-bold"
  line-height 30px
  text-transform uppercase
  button
    font 13px "pt-sans"
    border 1px solid $color-30
    background-color $color-01

.choose-filter-0
  border none

.choose-filter
  border none
  border-bottom 1px solid


.filter
  font 13px "pt-sans"
  background-color $color-33

.choose-price
  font 17px "pt-sans"
  input
    background-color $color-33

.choose-filter
  label
    font 15px "pt-sans"
    line-height 20px

.sort
  background-color $color-33
  font 13px "pt-sans"
  text-transform uppercase

.sort-list, .arrows
  list-style none
  a
    display inline-block
    vertical-align top
    opacity .3
    color $color-07
    font 13px "pt-sans"
    text-decoration underline $color-04
    &:hover
      opacity 1
    &:active
      color $color-04
      text-decoration none

.arrow
  path
    &:hover
      opacity 1
    &:active
      opacity 1
      fill $color-04

/* catalog styles end */

.popular-header
  background-color $color-15

  h3
    color $color-06
    font-size 30px
    line-height 30px
    text-transform uppercase

.goods-item
  font 17px "pt-sans-bold"
  line-height 18px
  &:hover
    box-shadow 0 10px 25px $color-27
  &:hover > .hidden
    display block

.hidden
  display none
  font 14px "Cuprum"
  line-height 18px
  text-transform uppercase
  a
    box-shadow inset 0 -3px 0 $color-28
    background-color $color-25
    &:hover
      background-color $color-23
    &:active
      background-color $color-24
  button
    text-transform uppercase
    border 3px solid $color-25
    &:hover
      border 3px solid $color-06
    &:active
      border 3px solid $color-06
      opacity 0.3

.title
  color $color-07
  font-size 18px
  line-height 20px

.old-price
  color $color-16
  text-transform uppercase

.price
  color $color-01
  text-transform uppercase
  background-image url('../img/btn_copy_14.svg')
  width 141px
  height 38px

.manufacturers-item
  list-style none
  &:hover
    box-shadow 0 10px 25px $color-27
  &:active
    box-shadow 0 4px 10px $color-27
  a
    &:active
      opacity 0.3

.service
  background-color $color-17
  font-family "pt-sans"
  line-height 24px

.service
  h3
    text-transform uppercase

.service-tab-nav
  list-style none

  li
    box-shadow 0 1px 0 $color-02, inset 0 1px 0 $color-09
    background-color $color-06
    &:hover
      box-shadow 0 1px 0 $color-02, inset 0 1px 0 $color-09
      background-color $color-02
    &:active
      box-shadow 0 1px 0 $color-01, inset 0 1px 0 $color-01
      background-color $color-01

  a
    &:active
      color $color-06

.delive
  background url('../img/Layer_131.png') no-repeat

.guarantee
  background url('../img/Layer_130.png') no-repeat

.credit
  background url('../img/Layer_119.png') no-repeat

.about
  h2
    font-size 30px
    line-height 30px
    text-transform uppercase

.about
  p
    font 13px "pt-sans"
    line-height 24px

.partners
  list-style none
  font-size 18px
  line-height 20px

/* catalog styles start */

/* cart start */

.good-in-cart
  border-top 7px solid $color-04
  box-shadow 0 20px 40px $color-27
  p
    font-size 30px
    line-height 30px
  button
    text-transform uppercase

.order-buy
  background-color $color-35

.icon-mark
  background url('../img/icon-mark.svg')
  width 66px
  height 66px

.close
  background url('../img/icon-close.svg')
  width 21px
  height 21px

/* cart end */

.pager
  font 13px "pt-sans"
  line-height 18px
  color $color-01

.pager-list
  list-style none

.pager-item
  border 1px solid $color-30
  background-color $color-01
  a
    font 13px "PT Sans"
    color $color-07
    text-transform uppercase
  &:hover
    border 1px solid $color-31
  &:active
    border 1px solid $color-04
  .current
    background-color $color-04
    color $color-01

.about-puncher
  background-color $color-29
  h3
    font-size 30px
    line-height 30px
    text-transform uppercase
  p
    font 13px "pt-sans"
    line-height 24px

/* catalog styles end */

/* send form start */

.send-form
  border-top 7px solid $color-04
  box-shadow 0 20px 40px $color-36
  p
    font-size 18px

.half-width, .full-width
  input
    border 2px solid $color-38
    font 13px "pt-sans"
    color $color-16

.form-button
  background-color $color-37
  .btn
    color $color-01

/* send form end */

.page-footer
  background-color $color-06
  font-size 18px
  line-height 24px

.logo-bottom
  box-shadow inset 0 -5px 0 $color-05
  background-color $color-04
  a
    width 100%
    height 100%

.footer-nav
  list-style none
  a
    color $color-18
    &:hover
      text-decoration underline
    &:active
      opacity 0.5

.footer-middle-row
  color $color-03

.footer-category
  list-style none
  a
    color $color-19
    &:hover
      text-decoration underline
    &:active
      opacity 0.5

.footer-bottom-row
  background-color $color-02
  font-size 16px

.footer-bottom-row
  p
    color $color-01
  a
    color $color-19
    &:hover
      text-decoration underline
    &:active
      color $color-04

.social-item
  background-color $color-20
  &:hover, &:active
    background-color $color-04

  a
    display inline-block
    vertical-align top
    width 100%
    height 100%

.vk
  background-image url('../img/icon-vk.svg')
  width 26px
  height 15px

.facebook
  background-image url('../img/icon-fb.svg')
  width 12px
  height 22px

.instagram
  background-image url('../img/icon-insta.svg')
  width 21px
  height 21px
