html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2") format('woff2'), url("../fonts/web/cuprum.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumitalic.woff2") format('woff2'), url("../fonts/web/cuprumitalic.woff") format('woff');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbold.woff2") format('woff2'), url("../fonts/web/cuprumbold.woff") format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/web/ptsansbold.woff2") format('woff2'), url("../fonts/web/ptsansbold.woff") format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/web/ptsans.woff2") format('woff2'), url("../fonts/web/ptsans.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}
.page {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page,
p,
h1,
h2,
h3 {
  margin: 0 auto;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.btn {
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  background-color: #ca2c37;
}
.btn:active {
  background-color: #ba2732;
}
.page-header {
  background: #f3f7f9;
  padding-bottom: 60px;
}
.top-row {
  background: #293449;
  font-size: 17px;
  text-transform: capitalize;
}
.top-row .container {
  display: flex;
}
.logo-top {
  position: absolute;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
  background-color: #ee3643;
}
.logo-top:hover {
  background-color: #ca2c37;
}
.logo-top:active {
  background-color: #ba2732;
}
.logo-top img {
  padding: 11px 55px;
  height: 47px;
}
a {
  color: #fff;
  text-decoration: none;
}
.search {
  margin-left: 270px;
  width: 270px;
}
.search form {
  height: 100%;
}
.search input {
  height: inherit;
  width: 100%;
  background: inherit;
  color: #fff;
  display: flex;
  border: none;
}
.search:hover {
  background-color: #212a3a;
}
.search-icon:hover {
  fill: #fff;
}
.bookmarks,
.cart {
  display: flex;
  padding: 14px 0 13px 17px;
  text-align: center;
  width: 150px;
  color: #fff;
}
.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}
.bookmarks:active,
.cart:active {
  background-color: #161d29;
  opacity: 0.6;
}
.bookmarks span,
.cart span {
  margin-left: 5px;
}
.bookmark-icon {
  margin-right: 13px;
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}
.bookmark-icon:hover {
  opacity: 1;
}
.bookmark-icon:active {
  opacity: 0.5;
}
.cart-icon {
  margin-right: 17px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg");
  opacity: 0.3;
}
.cart-icon:hover {
  opacity: 1;
}
.cart-icon:active {
  opacity: 0.5;
}
.order {
  padding-top: 14px;
  text-align: center;
  width: 150px;
  background-color: #63a63e;
}
.order:hover {
  background-color: #5fbb2d;
}
.order:active {
  background-color: #518534;
}
.middle-row {
  padding: 41px 0 44px;
}
.slogan,
.address,
.authorization {
  display: inline-block;
  vertical-align: top;
}
.slogan {
  width: 196px;
  color: #ee3643;
  font-size: 16px;
  font-family: "Cuprum";
  font-style: italic;
  line-height: 23px;
  margin: 8px 71px 0 44px;
}
.address p {
  color: #32425c;
  line-height: 24px;
  margin: 0 10px;
}
.phone-number {
  border: 3px solid #fff;
  padding: 13px 52px 11px 15px;
}
.phone {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  background-image: url("../img/icon-phone.svg");
  width: 19px;
  height: 19px;
}
.number {
  display: inline-block;
  vertical-align: top;
  color: #ee3643;
  line-height: 21px;
  font-size: 21px;
}
.authorization {
  font-size: 21px;
  font-family: "Cuprum";
  line-height: 21px;
  margin: 14px 0 0 69px;
}
.authorization a {
  color: #000;
  background-color: #fff;
}
.authorization a:hover {
  color: #ee3643;
}
.authorization a:active {
  opacity: 0.3;
  color: #000;
}
.enter {
  margin-right: 10px;
  padding: 14px 27px 14px 14px;
}
.enter path:hover {
  fill: #32425c;
}
.registration {
  padding: 14px 25px 14px;
}
.customer path:hover,
.logout path:hover {
  fill: #32425c;
}
/* catalog style start */
.personal {
  display: flex;
  padding-left: 0;
}
.personal-item:first-child {
  list-style: none;
  margin-right: 30px;
}
.personal-item a {
  background-color: #f3f7f9;
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}
.personal-item a:hover {
  color: #ee3643;
}
.personal-item a:active {
  opacity: 0.3;
  color: #32425c;
}
/* catalog style end */
.navigation {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}
.navigation-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.navigation-item {
  flex-grow: 1;
  text-align: center;
  list-style: none;
}
.navigation-item:hover {
  background-color: #293449;
}
.navigation-item:active {
  background-color: #1d2739;
}
.navigation-link {
  padding: 22px 30px;
  display: inline-flex;
}
.categories {
  margin-top: 59px;
}
.categories .container {
  display: flex;
}
.left-column .categories-item {
  margin-right: 18px;
}
.categories-item {
  width: 300px;
  margin: 0 0 20px 0;
  padding: 26px 0 22px 23px;
}
.categories-item h3 {
  color: #fff;
  font-size: 24px;
  font-family: "Cuprum";
  font-weight: bold;
  line-height: 21px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.categories-item .btn:not(:nth-child(3)) {
  display: inline-flex;
  width: 135px;
  background-color: rgba(255,255,255,0.1);
  padding: 14px 0;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 10px;
}
.categories-item .btn:not(:nth-child(3)):hover {
  background-color: rgba(255,255,255,0.2);
}
.categories-item .btn:not(:nth-child(3)):active {
  background-color: rgba(255,255,255,0.3);
}
.material,
.tool {
  display: inline-block;
  vertical-align: top;
}
.material {
  background: url("../img/icon-1.svg") no-repeat #ffbf47;
  background-position: right 43px bottom 27px;
}
.tool {
  background: url("../img/icon-2.svg") no-repeat #3bbce3;
  background-position: right 28px bottom 29px;
}
.technic {
  background: url("../img/icon-3.svg") no-repeat #dc91d8;
  background-position: right 31px bottom 30px;
}
.sale {
  background: url("../img/icon-4.svg") no-repeat #8ed78f;
  background-position: right 45px bottom 25px;
}
.delivery {
  background: url("../img/icon-5.svg") no-repeat #ffc047;
  background-position: right 31px bottom 28px;
}
.slider {
  width: 620px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.slider-item {
  padding: 26px 0 22px 25px;
}
.slider-item h3 {
  color: #fff;
  font-size: 36px;
  font-family: "Cuprum";
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}
.slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 113px;
}
.slider-item .btn {
  padding: 14px 45px;
}
.perf {
  height: 266px;
  background: url("../img/perf.jpg") no-repeat;
}
.drill {
  display: none;
  height: 266px;
  background: url("../img/drill.jpg") no-repeat;
}
.prev {
  background-image: url("../img/icon-left.svg");
  width: 22px;
  height: 40px;
}
.next {
  background-image: url("../img/icon-right.svg");
  width: 22px;
  height: 40px;
}
/* catalog styles start */
.breadcrumbs {
  display: flex;
  padding-left: 0;
  margin: 23px 0;
}
.breadcrumbs-item {
  list-style: none;
}
.breadcrumbs-item a {
  font-size: 13px;
  font-family: "PT-Sans";
  color: #000;
  text-transform: uppercase;
}
.home {
  background: url("../img/icon-home.svg") no-repeat;
  width: 14px;
  height: 12px;
}
.home a {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.content-title {
  padding: 32px 0 34px 30px;
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-filter {
  display: flex;
  margin-top: 20px;
}
.aside {
  margin-right: 20px;
  width: 221px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: "PT-Sans";
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
.aside button {
  font-size: 13px;
  font-family: "PT-Sans";
  line-height: 18px;
  margin-top: 75px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 12px 39px;
  text-transform: uppercase;
}
.choose-filter-0 {
  border: none;
}
.choose-filter {
  border: none;
  border-bottom: 1px solid;
}
.filter {
  padding: 14px 0 15px 18px;
  margin: 0 0 20px;
  font-size: 13px;
  font-family: "PT-Sans";
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f3ec;
}
.choose-price {
  font-size: 17px;
  font-family: "PT-Sans";
}
.choose-price input {
  background-color: #f7f3ec;
}
.choose-filter label {
  font-size: 15px;
  font-family: "PT-Sans";
  line-height: 20px;
}
.sort {
  display: flex;
  margin-bottom: 21px;
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: "PT-Sans";
  text-transform: uppercase;
  width: 100%;
}
.sort-to {
  margin: 0;
  padding: 14px 0 15px 19px;
}
.sort-list,
.arrows {
  display: flex;
  list-style: none;
}
.sort-list a,
.arrows a {
  display: inline-block;
  vertical-align: top;
  opacity: 0.3;
  color: #000;
  font-size: 13px;
  font-family: "PT-Sans";
  text-decoration: underline #ee3643;
}
.sort-list a:hover,
.arrows a:hover {
  opacity: 1;
}
.sort-list a:active,
.arrows a:active {
  color: #ee3643;
  text-decoration: none;
}
.sort-list .active,
.arrows .active {
  opacity: 1;
  color: #ee3643;
  text-decoration: none;
}
.sort-list .active path,
.arrows .active path {
  fill: #ee3643;
}
.arrow path:hover {
  opacity: 1;
}
.arrow path:active {
  opacity: 1;
  fill: #ee3643;
}
/* catalog styles end */
.products {
  margin-top: 33px;
}
.popular-header {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}
.popular-header .popular-title {
  margin: 0 auto;
  padding: 33px 349px 0 35px;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}
.popular-header .btn {
  margin: 25px 24px 26px 0;
  padding: 14px 55px;
  display: inline-block;
}
.popular-header .second-title {
  padding: 33px 245px 30px 30px;
}
.popular-header .second-btn {
  padding: 13px 69px;
}
.goods,
.catalog {
  display: flex;
  flex-wrap: wrap;
}
.goods-item {
  width: 220px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 17px;
  font-family: "PT-Sans";
  font-weight: bold;
  line-height: 18px;
}
.goods-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}
.goods-item:hover > .hidden {
  display: flex;
  flex-direction: column;
}
.goods-item:hover > .hidden a,
.goods-item:hover > .hidden button {
  width: 135px;
  margin-bottom: 7px;
  padding: 14px 0;
  text-align: center;
}
.goods-item .title,
.goods-item .old-price,
.goods-item .price {
  margin: 0 auto;
}
.goods-item .title {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 12px 31px 18px;
}
.goods-item .old-price {
  color: #a9a9a9;
  text-transform: uppercase;
}
.goods-item .price {
  color: #fff;
  text-transform: uppercase;
  background: url("../img/btn_copy_14.svg") no-repeat;
  padding: 11px 40px 13px 36px;
  margin: 13px 36px 21px 43px;
}
.goods-item .price:nth-child(4n) {
  margin-top: 31px;
}
.goods .goods-item:not(:nth-child(4)) {
  margin-right: 20px;
}
.catalog .goods-item:nth-child(3n) {
  margin-right: 19px;
  margin-left: 19px;
}
.hidden {
  position: absolute;
  padding: 44px 41px 31px;
  display: none;
  font-size: 14px;
  font-family: "Cuprum";
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
}
.hidden a {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}
.hidden a:hover {
  background-color: #5fbb2d;
}
.hidden a:active {
  background-color: #518534;
}
.hidden button {
  text-transform: uppercase;
  border: 3px solid #63a63e;
}
.hidden button:hover {
  border: 3px solid #32425c;
}
.hidden button:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}
.manufacturers {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.manufacturers-item {
  width: 220px;
  list-style: none;
}
.manufacturers-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}
.manufacturers-item:active {
  box-shadow: 0 4px 10px rgba(41,52,73,0.5);
}
.manufacturers-item a:active {
  opacity: 0.3;
}
.manufacturers-item .item-image {
  display: block;
  margin: 0 auto;
}
.manufacturers-item .bosch {
  padding: 53px 47px;
}
.manufacturers-item .makita {
  padding: 50px 48px;
}
.manufacturers-item .dewalt {
  padding: 48px 37px;
}
.manufacturers-item .interskol {
  padding: 21px 10px;
}
.manufacturers-item .hitachi {
  padding: 58px 25px;
}
.manufacturers-item .lg {
  padding: 35px 50px;
}
.manufacturers-item .aeg {
  padding: 23px 34px;
}
.manufacturers-item .metabo {
  padding: 34px 8px;
}
.manufacturers-item:not(:nth-child(4n)) {
  margin-right: 20px;
}
.service {
  background-color: #f5f8fa;
  font-size: 14px;
  font-family: "PT-Sans";
  line-height: 24px;
}
.service-title {
  width: 554px;
  padding-top: 68px;
  margin-bottom: 28px;
}
.service-title h3 {
  margin: 0 auto 35px;
  font-size: 30px;
  font-family: "Cuprum";
  line-height: 30px;
  text-transform: uppercase;
}
.service-wrapper {
  display: inline-flex;
}
.service-tab-nav {
  padding: 47px 0;
  list-style: none;
  margin: 0 80px 99px 0;
  width: 240px;
}
.service-tab-nav li {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
}
.service-tab-nav li:hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}
.service-tab-nav li:active {
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff;
  background-color: #fff;
}
.service-tab-nav a {
  padding: 21px 0 20px 22px;
}
.service-tab-nav a:active {
  color: #32425c;
}
.service-tab-nav .service-nav-item {
  font-size: 21px;
  font-family: "Cuprum";
  font-weight: bold;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}
.service-tab-nav:after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  width: 10px;
  height: 279px;
  opacity: 0.25;
  background-color: rgba(255,255,255,0.3);
}
.service-tab-content {
  padding-top: 48px;
  width: 620px;
  display: flex;
  flex-direction: column;
}
.service-tab-content h3 {
  font-size: 36px;
  font-family: "Cuprum";
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.service-tab-item {
  display: none;
}
.active {
  display: block;
}
.text-delivery,
.text-guarantee,
.text-credit {
  font-size: 13px;
}
.text-delivery {
  width: 275px;
}
.text-guarantee {
  width: 379px;
}
.text-credit {
  width: 279px;
  margin-bottom: 31px;
}
.service-tab-delivery {
  background: url("../img/Layer_131.png") no-repeat;
  height: 261px;
  background-position: top 21px right 1px;
}
.service-tab-guarantee {
  background: url("../img/Layer_130.png") no-repeat;
  height: 283px;
  background-position: top 1px right 1px;
}
.service-tab-credit {
  background: url("../img/Layer_119.png") no-repeat;
  height: 285px;
  background-position: top 1px right 1px;
}
.service-tab-credit .btn {
  padding: 14px 44px;
}
.about {
  margin: 82px 0 86px;
}
.about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 35px;
}
.about .text {
  font-size: 13px;
  font-family: "PT-Sans";
  line-height: 24px;
  margin-bottom: 35px;
  width: 519px;
}
.about .text:nth-child(3) {
  margin-bottom: 28px;
}
.about .container {
  display: flex;
}
.company {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-right: 120px;
}
.company .btn {
  padding: 14px 40px 12px;
  margin-top: 13px;
  width: 220px;
}
.partners {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-left: 0;
  position: relative;
}
.partners .partners-item {
  margin-bottom: 17px;
  position: relative;
  padding-left: 35px;
}
.partners .partners-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts .text {
  width: 179px;
  margin: 0 0 35px;
}
.contacts .btn {
  padding: 14px 59px 12px 63px;
  margin-top: 40px;
  width: 300px;
}
/* catalog styles start */
.pager {
  font-size: 13px;
  font-family: "PT-Sans";
  line-height: 18px;
  color: #fff;
}
.pager-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.pager-item {
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.pager-item a {
  font-size: 13px;
  font-family: "PT-Sans";
  color: #000;
  text-transform: uppercase;
}
.pager-item:hover {
  border: 1px solid #bdc6ca;
}
.pager-item:active {
  border: 1px solid #ee3643;
}
.pager-item .current {
  background-color: #ee3643;
  color: #fff;
}
.about-puncher {
  padding: 67px 0 73px;
  background-color: #f2f6f8;
}
.about-puncher h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.about-puncher p {
  font-size: 13px;
  font-family: "PT-Sans";
  line-height: 24px;
  margin-right: 29px;
}
/* catalog styles end */
.page-footer {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
}
.logo-bottom {
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
  background-color: #ee3643;
  width: 220px;
  padding: 20px 41px 25px;
  margin-right: 164px;
  display: inline-flex;
}
.logo-bottom a {
  width: 100%;
  height: 100%;
}
.footer-nav {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  margin: 0;
}
.footer-nav a {
  color: #f1f5f7;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-nav a:active {
  opacity: 0.5;
}
.footer-nav-item {
  padding: 25px 30px 13px;
}
.footer-nav-item:first-child {
  padding-left: 0;
}
.footer-nav-item:last-child {
  padding-right: 0;
}
.footer-middle-row {
  color: #f3f7f9;
  margin: 32px 0 53px;
}
.footer-address {
  display: inline-flex;
  flex-direction: column;
  width: 322px;
  margin-right: 87px;
}
.footer-category {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.footer-category a {
  color: #ffd180;
}
.footer-category a:hover {
  text-decoration: underline;
}
.footer-category a:active {
  opacity: 0.5;
}
.footer-category-item {
  padding: 0 30px;
}
.footer-category-item:first-child {
  padding-left: 0;
}
.footer-category-item:last-child {
  padding-right: 0;
}
.footer-bottom-row {
  background-color: #293449;
  font-size: 16px;
}
.footer-bottom-row .container {
  padding: 35px 10px 30px;
}
.footer-bottom-row p {
  color: #fff;
}
.footer-bottom-row a {
  color: #ffd180;
}
.footer-bottom-row a:hover {
  text-decoration: underline;
}
.footer-bottom-row a:active {
  color: #ee3643;
}
.footer-rights,
.socials {
  display: inline-flex;
}
.feedback,
.developed {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
}
.footer-rights {
  width: 228px;
  margin-right: 161px;
}
.socials {
  margin-right: 116px;
}
.feedback {
  width: 135px;
  margin-right: 53px;
}
.developed {
  width: 96px;
}
.vk {
  background: url("../img/icon-vk.svg") no-repeat center;
  width: 26px;
  height: 15px;
}
.facebook {
  background: url("../img/icon-fb.svg") no-repeat center;
  width: 12px;
  height: 22px;
}
.instagram {
  background: url("../img/icon-insta.svg") no-repeat center;
  width: 21px;
  height: 21px;
}
.social-item {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #212a3a;
}
.social-item:hover,
.social-item:active {
  background-color: #ee3643;
}
.social-item a {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
/* send form start */
.popup-write-us {
  width: 620px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(0,0,0,0.75);
}
.popup-write-us p {
  font-size: 18px;
}
.form-container {
  padding: 48px 80px 37px;
}
.half-width {
  display: inline-flex;
  flex-direction: column;
  width: 220px;
}
.form-name {
  margin-right: 16px;
}
.form-name input {
  padding: 14px 0 14px 16px;
}
.form-e-mail input {
  padding: 14px 0 13px 16px;
}
.form-text textarea {
  padding: 14px 0 0 16px;
}
.full-width {
  display: inline-flex;
  flex-direction: column;
  width: 460px;
  margin-top: 22px;
}
.half-width label,
.full-width label {
  margin-bottom: 13px;
}
.half-width input,
.full-width input {
  border: 2px solid #dee3e4;
  font-size: 13px;
  font-family: "PT-Sans";
}
.form-button {
  padding: 37px 80px;
  background-color: #f4f4f4;
}
.form-button .btn {
  padding: 14px 198px;
  color: #fff;
}
/* send form end */
/* cart popup start */
.cart-popup {
  width: 620px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(41,52,73,0.5);
}
.cart-popup button {
  text-transform: uppercase;
}
.popup-message {
  display: flex;
  padding: 55px 124px 49px 81px;
}
.icon-mark {
  background: url("../img/icon-mark.svg");
  width: 66px;
  height: 66px;
}
.cart-popup-text {
  margin-top: 19px;
  font-size: 30px;
  line-height: 30px;
}
.order-buy {
  padding: 37px 80px;
  background-color: #f1f1f1;
}
.order-buy .btn {
  padding: 14px 62px 14px 59px;
  margin-right: 14px;
}
.order-buy button {
  padding: 14px 48px 12px 44px;
}
.close {
  background: url("../img/icon-close.svg") no-repeat;
  padding: 20px;
  background-position: center;
  border: none;
  position: absolute;
  right: 60px;
}
/* cart popup end */
