html {
  box-sizing: border-box;
}
*,
*::before,
* ::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2") format('woff2'), url("../fonts/web/cuprum.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Cuprum-Italic";
  src: url("../fonts/web/cuprumitalic.woff2") format(woff2), url("../fonts/web/cuprumitalic.woff") format(woff);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Cuprum-Bold";
  src: url("../fonts/web/cuprumbold.woff2") format('woff2'), url("../fonts/web/cuprumbold.woff") format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "pt-sans-bold";
  src: url("../fonts/web/ptsansbold.woff2") format('woff2'), url("../fonts/web/ptsansbold.woff") format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "pt-sans";
  src: url("../fonts/web/ptsans.woff2") format('woff2'), url("../fonts/web/ptsans.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}
.page {
  margin: 0 auto;
  font: 14px "Cuprum";
  line-height: 18px;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.btn {
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  background-color: #ca2c37;
}
.btn:active {
  background-color: #ba2732;
}
.page-header {
  background-color: #f3f7f9;
}
.top-row {
  background-color: #293449;
  font-size: 17px;
  text-transform: capitalize;
}
.logo-top {
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
  background-color: #ee3643;
}
.logo-top:hover {
  background-color: #ca2c37;
}
.logo-top:active {
  background-color: #ba2732;
}
a {
  color: #fff;
  text-decoration: none;
}
.search:hover {
  background-color: #212a3a;
}
.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}
.bookmarks:active,
.cart:active {
  background-color: #161d29;
}
.bookmark-icon {
  display: inline-block;
  width: 14px;
  height: 16px;
  background: #fff url("../img/icon-bookmark.svg");
  opacity: 0.3;
}
.cart-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff url("../img/icon-cart.svg");
  opacity: 0.3;
}
.order {
  background-color: #63a63e;
}
.order:hover {
  background-color: #5fbb2d;
}
.order:active {
  background-color: #518534;
}
.slogan {
  color: #ee3643;
  font: 25px "Cuprum-Italic";
  line-height: 23px;
}
.phone-number {
  border: 3px solid #fff;
}
.phone {
  background-image: url("../img/icon-phone.svg");
}
.number {
  color: #ee3643;
  line-height: 21px;
  font-size: 21px;
}
.address p {
  color: #32425c;
  line-height: 24px;
}
/* catalog style start */
.authorization {
  font: 21px "Cuprum";
  line-height: 21px;
}
.authorization a {
  color: #000;
  background-color: #fff;
}
.authorization a:hover {
  color: #ee3643;
}
.authorization a:active {
  opacity: 0.3;
  color: #000;
}
.enter path:hover {
  fill: #32425c;
}
.customer path:hover,
.logout path:hover {
  fill: #32425c;
}
.personal-item:first-child {
  list-style: none;
}
.personal-item a {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}
.personal-item a:hover {
  color: #ee3643;
}
.personal-item a:active {
  opacity: 0.3;
  color: #32425c;
}
/* catalog style end */
.navigation {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}
.navigation-item {
  list-style: none;
}
.navigation-item:hover {
  background-color: #293449;
}
.navigation-item:active {
  background-color: #1d2739;
}
.categories-item h3 {
  color: #fff;
  font: 24px "Cuprum-Bold";
  line-height: 30px;
  text-transform: capitalize;
}
.material {
  background-color: #ffbf47;
}
.click {
  background-color: #000;
  opacity: 0.1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.click:hover {
  opacity: 0.2;
}
.click:active {
  opacity: 0.3;
}
.item-icon-material {
  background-image: url("../img/icon-1.svg");
  width: 44px;
  height: 65px;
}
.tool {
  background-color: #3bbce3;
}
.item-icon-tool {
  background-image: url("../img/icon-2.svg");
  width: 75px;
  height: 61px;
}
.slider-item h3 {
  color: #fff;
  font: 36px "Cuprum-Bold";
  line-height: 36px;
  text-transform: uppercase;
}
.slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.perf {
  background-image: url("../img/perf.jpg");
}
.drill {
  background-image: url("../img/drill.jpg");
}
.prev {
  background-image: url("../img/icon-left.svg");
  width: 22px;
  height: 40px;
}
.next {
  background-image: url("../img/icon-right.svg");
  width: 22px;
  height: 40px;
}
.technic {
  background-color: #dc91d8;
}
.item-icon-technic {
  background-image: url("../img/icon-3.svg");
  width: 78px;
  height: 62px;
}
.sale {
  background-color: #8ed78f;
}
.item-icon-sale {
  background-image: url("../img/icon-4.svg");
  width: 59px;
  height: 72px;
}
.delivery {
  background-color: #ffc047;
}
.item-icon-delivery {
  background-image: url("../img/icon-5.svg");
  width: 78px;
  height: 63px;
}
/* catalog styles start */
.breadcrumbs-item {
  list-style: none;
}
.breadcrumbs-item a {
  font: 13px "pt-sans";
  color: #000;
  text-transform: uppercase;
}
.home {
  background: url("../img/icon-home.svg") no-repeat;
  width: 14px;
  height: 12px;
}
.home a {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.content-title {
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.aside {
  font: 17px "pt-sans-bold";
  line-height: 30px;
  text-transform: uppercase;
}
.aside button {
  font: 13px "pt-sans";
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.choose-filter-0 {
  border: none;
}
.choose-filter {
  border: none;
  border-bottom: 1px solid;
}
.filter {
  font: 13px "pt-sans";
  background-color: #f7f3ec;
}
.choose-price {
  font: 17px "pt-sans";
}
.choose-price input {
  background-color: #f7f3ec;
}
.choose-filter label {
  font: 15px "pt-sans";
  line-height: 20px;
}
.sort {
  background-color: #f7f3ec;
  font: 13px "pt-sans";
  text-transform: uppercase;
}
.sort-list,
.arrows {
  list-style: none;
}
.sort-list a,
.arrows a {
  display: inline-block;
  vertical-align: top;
  opacity: 0.3;
  color: #000;
  font: 13px "pt-sans";
  text-decoration: underline #ee3643;
}
.sort-list a:hover,
.arrows a:hover {
  opacity: 1;
}
.sort-list a:active,
.arrows a:active {
  color: #ee3643;
  text-decoration: none;
}
.arrow path:hover {
  opacity: 1;
}
.arrow path:active {
  opacity: 1;
  fill: #ee3643;
}
/* catalog styles end */
.popular-header {
  background-color: #f9f5f0;
}
.popular-header h3 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.goods-item {
  font: 17px "pt-sans-bold";
  line-height: 18px;
}
.goods-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}
.goods-item:hover > .hidden {
  display: block;
}
.hidden {
  display: none;
  font: 14px "Cuprum";
  line-height: 18px;
  text-transform: uppercase;
}
.hidden a {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}
.hidden a:hover {
  background-color: #5fbb2d;
}
.hidden a:active {
  background-color: #518534;
}
.hidden button {
  text-transform: uppercase;
  border: 3px solid #63a63e;
}
.hidden button:hover {
  border: 3px solid #32425c;
}
.hidden button:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}
.title {
  color: #000;
  font-size: 18px;
  line-height: 20px;
}
.old-price {
  color: #a9a9a9;
  text-transform: uppercase;
}
.price {
  color: #fff;
  text-transform: uppercase;
  background-image: url("../img/btn_copy_14.svg");
  width: 141px;
  height: 38px;
}
.manufacturers-item {
  list-style: none;
}
.manufacturers-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}
.manufacturers-item:active {
  box-shadow: 0 4px 10px rgba(41,52,73,0.5);
}
.manufacturers-item a:active {
  opacity: 0.3;
}
.service {
  background-color: #f5f8fa;
  font-family: "pt-sans";
  line-height: 24px;
}
.service h3 {
  text-transform: uppercase;
}
.service-tab-nav {
  list-style: none;
}
.service-tab-nav li {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
}
.service-tab-nav li:hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}
.service-tab-nav li:active {
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff;
  background-color: #fff;
}
.service-tab-nav a:active {
  color: #32425c;
}
.deliverity {
  background: url("../img/Layer_131.png") no-repeat;
}
.guarantee {
  background: url("../img/Layer_130.png") no-repeat;
}
.credit {
  background: url("../img/Layer_119.png") no-repeat;
}
.about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about p {
  font: 13px "pt-sans";
  line-height: 24px;
}
.partners {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}
/* catalog styles start */
/* cart start */
.good-in-cart {
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(41,52,73,0.5);
}
.good-in-cart p {
  font-size: 30px;
  line-height: 30px;
}
.good-in-cart button {
  text-transform: uppercase;
}
.order-buy {
  background-color: #f1f1f1;
}
.icon-mark {
  background: url("../img/icon-mark.svg");
  width: 66px;
  height: 66px;
}
.close {
  background: url("../img/icon-close.svg");
  width: 21px;
  height: 21px;
}
/* cart end */
.pager {
  font: 13px "pt-sans";
  line-height: 18px;
  color: #fff;
}
.pager-list {
  list-style: none;
}
.pager-item {
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.pager-item a {
  font: 13px "PT Sans";
  color: #000;
  text-transform: uppercase;
}
.pager-item:hover {
  border: 1px solid #bdc6ca;
}
.pager-item:active {
  border: 1px solid #ee3643;
}
.pager-item .current {
  background-color: #ee3643;
  color: #fff;
}
.about-puncher {
  background-color: #f2f6f8;
}
.about-puncher h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about-puncher p {
  font: 13px "pt-sans";
  line-height: 24px;
}
/* catalog styles end */
/* send form start */
.send-form {
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(0,0,0,0.75);
}
.send-form p {
  font-size: 18px;
}
.half-width input,
.full-width input {
  border: 2px solid #dee3e4;
  font: 13px "pt-sans";
  color: #a9a9a9;
}
.form-button {
  background-color: #f4f4f4;
}
.form-button .btn {
  color: #fff;
}
/* send form end */
.page-footer {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
}
.logo-bottom {
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
  background-color: #ee3643;
}
.logo-bottom a {
  width: 100%;
  height: 100%;
}
.footer-nav {
  list-style: none;
}
.footer-nav a {
  color: #f1f5f7;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-nav a:active {
  opacity: 0.5;
}
.footer-middle-row {
  color: #f3f7f9;
}
.footer-category {
  list-style: none;
}
.footer-category a {
  color: #ffd180;
}
.footer-category a:hover {
  text-decoration: underline;
}
.footer-category a:active {
  opacity: 0.5;
}
.footer-bottom-row {
  background-color: #293449;
  font-size: 16px;
}
.footer-bottom-row p {
  color: #fff;
}
.footer-bottom-row a {
  color: #ffd180;
}
.footer-bottom-row a:hover {
  text-decoration: underline;
}
.footer-bottom-row a:active {
  color: #ee3643;
}
.social-item {
  background-color: #212a3a;
}
.social-item:hover,
.social-item:active {
  background-color: #ee3643;
}
.social-item a {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.vk {
  background-image: url("../img/icon-vk.svg");
  width: 26px;
  height: 15px;
}
.facebook {
  background-image: url("../img/icon-fb.svg");
  width: 12px;
  height: 22px;
}
.instagram {
  background-image: url("../img/icon-insta.svg");
  width: 21px;
  height: 21px;
}
