$color-01 = #fff
$color-02 = #293449
$color-03 = #f3f7f9
$color-04 = #ee3643
$color-05 = rgba(0, 0, 0, 0.24)
$color-06 = #32425c
$color-07 = #000
$color-08 = #ca2c37
$color-09 = #405069
$color-10 = #ffbf47
$color-11 = #3bbce3
$color-12 = #dc91d8
$color-13 = #8ed78f
$color-14 = #ffc047
$color-15 = #f9f5f0
$color-16 = #a9a9a9
$color-17 = #f5f8fa
$color-18 = #f1f5f7
$color-19 = #ffd180
$color-20 = #212a3a
$color-21 = #ba2732
$color-22 = #161d29
$color-23 = #5fbb2d
$color-24 = #518534
$color-25 = #63a63e
$color-26 = #1d2739
$color-27 = rgba(41, 52, 73, 0.5)
$color-28 = #367315
$color-29 = #f2f6f8
$color-30 = #e5e5e5
$color-31 = #bdc6ca
$color-32 = #f2f6f8
$color-33 = #f7f3ec
$color-34 = #c5c5c5
$color-35 = #f1f1f1
$color-36 = rgba(0, 0, 0, 0.75)
$color-37 = #f4f4f4
$color-38 = #dee3e4
$color-39 = rgba(255, 255, 255, 0.1)
$color-40 = rgba(255, 255, 255, 0.2)
$color-41 = rgba(255, 255, 255, 0.3)
$color-42 = #d7dcde
$color-43 = #00ca74
$color-44 = #ababab
$color-45 = #cfcfcf
$color-46 = #444444
$color-47 = #b5b5b5

html
  box-sizing border-box

*, *::before, *::after
  box-sizing inherit

@font-face
  font-family "Cuprum"
  src url('../fonts/web/cuprum.woff2') format('woff2'),
      url('../fonts/web/cuprum.woff') format('woff')
  font-style normal
  font-weight 400

@font-face
  font-family "Cuprum"
  src url('../fonts/web/cuprumitalic.woff2') format('woff2'),
      url('../fonts/web/cuprumitalic.woff') format('woff')
  font-style italic
  font-weight 400

@font-face
  font-family "Cuprum"
  src url('../fonts/web/cuprumbold.woff2') format('woff2'),
      url('../fonts/web/cuprumbold.woff') format('woff')
  font-style normal
  font-weight 700

@font-face
  font-family "PT-Sans"
  src url('../fonts/web/ptsansbold.woff2') format('woff2'),
      url('../fonts/web/ptsansbold.woff') format('woff')
  font-style normal
  font-weight 700

@font-face
  font-family "PT-Sans"
  src url('../fonts/web/ptsans.woff2') format('woff2'),
      url('../fonts/web/ptsans.woff') format('woff')
  font-style normal
  font-weight 400

.page
  $color-01
  font-family "Cuprum", Arial, sans-serif
  font-size 14px
  line-height 18px

.page, p, h1, h2, h3
  margin 0 auto

.container
  width 960px
  margin 0 auto
  padding 0 10px

.visually-hidden
  position absolute
  height 1px
  width 1px
  overflow hidden
  clip rect(1px 1px 1px 1px)
  clip rect(1px, 1px, 1px, 1px)
  white-space nowrap

.btn
  background-color $color-04
  text-transform uppercase
  text-decoration none
  &:hover
    background-color $color-08
  &:active
    background-color $color-21

.page-header
  background $color-03
  padding-bottom 60px

.top-row
  background $color-02
  font-size 17px
  text-transform capitalize
  .container
    display flex

.logo-top
  position absolute
  box-shadow inset 0 -5px 0 $color-05
  background-color $color-04
  &:hover
    background-color $color-08
  &:active
    background-color $color-21
  img
    padding 11px 55px
    height 47px

a
  color $color-01
  text-decoration none

.search
  margin-left 270px
  form
    height 100%
  input
    height inherit
    width 100%
    background inherit
    color $color-01
    display flex
    border none
  width 270px
  &:hover
    background-color $color-20

.search-icon
  &:hover
    fill $color-01

.bookmarks, .cart
  display flex
  text-align center
  width 150px
  color $color-01
  &:hover
    background-color $color-20
  &:active
    background-color $color-22
  span
    margin-left 5px

.bookmark-icon, .cart-icon, span
  position relative
  padding 14px 0 13px

.bookmark-icon
  padding-left 44px

.bookmark-icon:before
  content ''
  position absolute
  top 13px
  left 17px
  width 14px
  height 16px
  background url('../img/icon-bookmark.svg') no-repeat
  background-position 0 0
  opacity .3

.cart-icon
  padding-left 50px

.cart-icon:before
  content ''
  position absolute
  top 12px
  left 18px
  width 15px
  height 15px
  background url('../img/icon-cart.svg') no-repeat
  opacity .3

.bookmark-icon:hover:before,
.cart-icon:hover:before
  opacity 1
.bookmark-icon:active:before,
.cart-icon:active:before
  opacity .5

.order
  padding-top 14px
  text-align center
  width 150px
  background-color $color-25
  &:hover
    background-color $color-23
  &:active
    background-color $color-24

.middle-row
  padding 41px 0 44px

.slogan, .address, .authorization
  display inline-block
  vertical-align top

.slogan
  width 196px
  color $color-04
  font-size 16px
  font-family "Cuprum"
  font-style italic
  line-height 23px
  margin 7px 71px 0 44px

.address
  margin-right 51px
  p
    color $color-06
    line-height 24px
    margin 0 10px

.phone-number
  border 3px solid $color-01
  padding 13px 52px 11px 15px

.phone
  display inline-block
  vertical-align top
  margin-right 40px
  background-image url('../img/icon-phone.svg')
  width 19px
  height 19px

.number
  display inline-block
  vertical-align top
  color $color-04
  line-height 21px
  font-size 21px

.authorization
  font-size 21px
  font-family "Cuprum"
  line-height 21px
  a
    color $color-07
    background-color $color-01
    &:hover
      color $color-04
    &:active
      opacity 0.3
      color $color-07

.user-enter
  display flex

.user-login
  display flex
  width 295px
  padding 14px 0 11px
  background-color $color-01
  .user
    margin 0 32px 0 14px
    &:hover
      color $color-07
    &:active
      color $color-34
  .customer
    cursor pointer
    margin-left 13px
    &:hover
      color $color-07

.enter
  width 121px
  margin-right 10px
  padding 14px 27px 14px 14px
  path
    &:hover
      fill $color-06

.registration
  width 150px
  padding 14px 25px 14px

.customer, .logout
  display flex
  path
    &:hover
      fill $color-06

.logout
  margin-right 10px

/* catalog style start */

.personal
  display flex
  padding-left 0
  margin 3px 0 0 17px

.personal-item
  list-style none
  .personal-item-link
    padding-right 32px
    position relative
    background-color $color-03
    color $color-06
    font-size 16px
    text-decoration underline
    &:hover
      color $color-04
    &:active
      opacity 0.3
      color $color-06

.personal-item:first-child
  .personal-item-link:after
    content ''
    position absolute
    top 8px
    right 15px
    width 4px
    height 5px
    background-color $color-06
    border-radius 50%
  .personal-item-link:active:after
    opacity 1
    background-color $color-06

/* catalog style end */

.navigation
  box-shadow inset 0 -5px 0 $color-02
  background-color $color-06
  font-size 17px
  line-height 17px
  a
    color $color-01
    text-decoration none

.navigation-list
  display flex
  padding-left 0
  margin 0

.navigation-item
  flex-grow 1
  list-style none
  &:hover
    background-color $color-02
  &:active
    background-color $color-26

.navigation-link
  padding 22px 33px
  display inline-flex

.categories
  margin-top 59px
  .container
    display flex

.left-column
  .categories-item
    margin-right 17px

.categories-item
  width 300px
  margin 0 0 20px 0
  padding 26px 0 22px 23px
  h3
    color $color-01
    font-size 24px
    font-family "Cuprum"
    font-weight bold
    line-height 21px
    text-transform capitalize
    margin-bottom 16px
  .btn:not(:nth-child(3))
    display inline-flex
    width 135px
    background-color $color-39
    padding 14px 0
    justify-content center
    text-transform uppercase
    text-decoration none
    line-height 10px
    &:hover
      background-color $color-40
    &:active
      background-color $color-41

.material, .tool
  display inline-block
  vertical-align top

.material
  background url('../img/icon-1.svg') no-repeat $color-10
  background-position right 43px bottom 27px

.tool
  background url('../img/icon-2.svg') no-repeat $color-11
  background-position right 28px bottom 29px

.technic
  background url('../img/icon-3.svg') no-repeat $color-12
  background-position right 31px bottom 30px

.sale
  background url('../img/icon-4.svg') no-repeat $color-13
  background-position right 45px bottom 25px

.delivery
  background url('../img/icon-5.svg') no-repeat $color-14
  background-position right 31px bottom 28px

.slider
  position relative
  width 620px
  display flex
  flex-direction column
  padding 0
  margin 0

.slider-item
  padding 26px 0 22px 25px
  h3
    font-size 36px
    line-height 36px
    text-transform uppercase
    margin-bottom 3px
  p
    font-size 18px
    line-height 24px
    color $color-01
    margin-bottom 126px
  .btn
    padding 14px 45px

.perf
  height 266px
  background url('../img/perf.jpg') no-repeat

.drill
  display none
  height 266px
  background url('../img/drill.jpg') no-repeat

.controls
  display inline-flex
  position absolute
  top 220px
  left 295px
  width 30px
  justify-content space-between
  .active
    background-color $color-04
    padding 3px

.dot
  width 10px
  height 10px
  border-radius 50%
  padding 2px
  cursor pointer

.prev, .next
  width 22px
  height 40px
  border none
  position absolute
  top 114px
  padding 0
  background-color transparent
  cursor pointer

.prev
  background-image url('../img/icon-left.svg')
  left 25px

.next
  background-image url('../img/icon-right.svg')
  right 20px

/* catalog styles start */

.breadcrumbs
  display flex
  padding-left 0
  margin 0

.breadcrumbs-item
  list-style none
  position relative

.breadcrumbs-item-link
  font-size 13px
  font-family "PT-Sans"
  color $color-07
  text-transform uppercase
  padding 23px 17px
  display inline-flex

.breadcrumbs-item:not(:last-child):after
  position absolute
  content ''
  display block
  top 26px
  right -3px
  width 8px
  height 12px
  background url('../img/icon-right-small.svg')

.home
  background url('../img/icon-home.svg') no-repeat
  width 14px
  height 12px
  background-position right 0 top 25px
  padding-left 0

.content-title
  padding 32px 0 34px 30px
  background-color $color-32
  color $color-06
  font-size 30px
  line-height 30px
  text-transform uppercase

.catalog-filter
  display flex
  margin-top 20px

.aside
  margin-right 21px
  width 220px
  display flex
  flex-direction column
  font-size 17px
  font-family "PT-Sans"
  font-weight bold
  line-height 30px
  text-transform uppercase
  button
    font-size 13px
    font-family "PT-Sans"
    line-height 18px
    margin-top 75px
    border 1px solid $color-30
    background-color $color-01
    padding 12px 39px
    text-transform uppercase
    cursor pointer

.choose-filter-range
  border none
  padding 0

.range-filter
  margin 21px 0 25px
  width 220px
  box-sizing content-box

.range-controls
  position relative
  margin-bottom 9px
  padding 39px 20px
  background-color $color-33
  border-radius 5px
  .scale
    height 2px
    background-color $color-42
  .bar
    width 152px
    height 2px
    background $color-43
  .toggle
    position absolute
    top 31px
    left 0
    width 4px
    height 4px
    padding 0
    border 8px solid $color-01
    background-color $color-44
    border-radius 50%
    box-shadow 0 2px 1px 0 $color-45
    cursor pointer
  .toggle-min
    left 12px
  .toggle-max
    left 164px

.price-controls
  display flex
  justify-content space-between
  position relative
  input
    width 95px
    padding 12px 0
    border none
    border-radius 5px
    background $color-33
    text-align center

.price-controls:first-child
  input:after
    content ""
    position absolute
    top 689px
    left 235px
    width 10px
    height 1px
    background-color $color-46

.choose-filter
  border none
  border-bottom 1px solid
  padding 0

.filter
  padding 14px 0 15px 18px
  margin 0 0 20px
  font-size 13px
  font-family "PT-Sans"
  font-weight normal
  line-height 18px
  background-color $color-33

.choose-price
  font-size 17px
  font-family "PT-Sans"
  input
    background-color $color-33

.choose-filter
  label
    font-size 15px
    font-family "PT-Sans"
    line-height 20px

.sort
  display flex
  margin-bottom 21px
  background-color $color-33
  font-size 13px
  font-family "PT-Sans"
  text-transform uppercase
  width 700px

.sort-to
  margin 0
  padding 14px 139px 15px 19px

.sort-list
  width 355px

.sort-list, .arrows
  display flex
  justify-content space-between
  list-style none
  padding-left 0
  margin 14px 0 15px
  a
    opacity .3
    color $color-07
    font-size 13px
    font-family "PT-Sans"
    text-decoration underline $color-04
    &:hover
      opacity 1
    &:active
      color $color-04
      text-decoration none
  .active
    opacity 1
    color $color-04
    text-decoration none
    path
      fill $color-04

.arrows
  margin-left 45px
  width 43px

.arrow
  path
    &:hover
      opacity 1
    &:active
      opacity 1
      fill $color-04

/* catalog styles end */

.products
  margin-top 33px

.popular-header
  background-color $color-15
  margin-bottom 20px
  .popular-title
    margin 0 auto
    padding 33px 308px 0 35px
    color $color-06
    font-size 30px
    line-height 30px
    text-transform uppercase
    display inline-block
    vertical-align top
  .btn
    margin 25px 24px 26px 41px
    padding 14px 55px
    display inline-block
  .second-title
    padding 33px 205px 30px 30px
  .second-btn
    padding 13px 69px

.goods, .catalog
  display flex
  flex-wrap wrap

.goods-item
  width 220px
  margin-bottom 20px
  display flex
  position relative
  flex-direction column
  font-size 17px
  font-family "PT-Sans"
  font-weight bold
  line-height 18px
  &:hover
    box-shadow 0 10px 25px $color-27
  &:hover > .hidden
    display flex
    flex-direction column
    a, button
      width 135px
      margin-bottom 7px
      padding 14px 0
      text-align center

  .title, .old-price, .price
    margin 0 auto
  .title
    color $color-07
    font-size 18px
    line-height 20px
    text-align center
    padding 12px 31px 18px
  .old-price
    color $color-16
    text-transform uppercase
  .price
    color $color-01
    text-transform uppercase
    background url('../img/btn_copy_14.svg') no-repeat
    padding 11px 40px 13px 36px
    margin 13px 36px 21px 43px
  .price:nth-child(4n)
    margin-top 31px

.goods
  .goods-item:not(:nth-child(4))
    margin-right 20px

.catalog
  .goods-item:nth-child(3n)
    margin-right 19px
    margin-left 19px

.hidden
  width 220px
  position absolute
  padding 44px 41px 31px
  display none
  font-size 14px
  font-family "Cuprum"
  line-height 18px
  text-transform uppercase
  background-color $color-01
  .buy
    padding 14px 45px 14px 49px
    position relative
    box-shadow inset 0 -3px 0 $color-28
    background-color $color-25
    &:hover
      background-color $color-23
    &:active
      background-color $color-24
  button
    cursor pointer
    background-color $color-01
    text-transform uppercase
    border 3px solid $color-25
    &:hover
      border 3px solid $color-06
    &:active
      border 3px solid $color-06
      opacity 0.3
  .buy:before
    content ''
    position absolute
    top 14px
    left 13px
    width 15px
    height 15px
    background url('../img/icon-cart.svg') no-repeat
    background-position 0 0
    opacity .3
  .buy:hover:before,
  .buy:active:before
    opacity 1
  .flag-item
    background url('../img/new_flag.png')
    position absolute
    width 60px
    height 59px
    left 160px
    top 0

.flag-item
  background url('../img/new_flag.png')
  position absolute
  width 60px
  height 59px
  left 160px

.manufacturers
  padding-left 0
  display flex
  flex-wrap wrap

.manufacturers-item
  width 220px
  list-style none
  &:hover
    box-shadow 0 10px 25px $color-27
  &:active
    box-shadow 0 4px 10px $color-27
  a
    &:active
      opacity 0.3
  .item-image
    display block
    margin 0 auto
  .bosch
    padding 53px 47px
  .makita
    padding 50px 48px
  .dewalt
    padding 48px 37px
  .interskol
    padding 21px 10px
  .hitachi
    padding 58px 25px
  .lg
    padding 35px 50px
  .aeg
    padding 23px 34px
  .metabo
    padding 34px 8px

.manufacturers-item:not(:nth-child(4n))
  margin-right 20px

.service
  background-color $color-17
  font-size 14px
  font-family "PT-Sans"
  line-height 24px

.service-title
  width 554px
  padding-top 68px
  margin-bottom 28px
  h3
    margin-bottom 35px
    font-size 30px
    font-family "Cuprum"
    line-height 30px
    text-transform uppercase
  p
    width 448px
    margin 0

.service-wrapper
  display flex
  justify-content space-between

.service-tab-nav
  position relative
  padding 0
  padding-top 47px
  list-style none
  margin 0 80px 52px 0
  width 240px
  flex-shrink 0
  li
    box-shadow 0 1px 0 $color-02, inset 0 1px 0 $color-09
    background-color $color-06
    &:hover
      box-shadow 0 1px 0 $color-02, inset 0 1px 0 $color-09
      background-color $color-02
    &:active
      box-shadow 0 1px 0 $color-01, inset 0 1px 0 $color-01
      background-color $color-01
  a
    padding 21px 0 20px 22px
    &:active
      color $color-06
  .service-nav-item
    font-size 21px
    font-family "Cuprum"
    font-weight bold
    line-height 30px
    display flex
    flex-direction column

.service-tab-nav
  .active
    box-shadow 0 1px 0 $color-01, inset 0 1px 0 $color-01
    background-color $color-01
    &:hover
      box-shadow 0 1px 0 $color-01, inset 0 1px 0 $color-01
      background-color $color-01
    a
      color $color-06

.service-tab-nav:after
  position absolute
  content ''
  display block
  top 20px
  right 0
  width 10px
  height 279px
  opacity 0.25
  background-color $color-41

.service-tab-content
  padding-top 48px
  width 100%
  h3
    font-size 36px
    font-family "Cuprum"
    line-height 36px
    text-transform uppercase
    margin-bottom 33px

.service-tab-item
  display none
  width 100%
  padding-bottom 120px

.active
  display block

.text-delivery, .text-guarantee, .text-credit
  font-size 13px
.text-delivery
  width 275px
.text-guarantee
  width 379px
.text-credit
  width 279px
  margin-bottom 31px

.service-tab-delivery
  background url('../img/Layer_131.png') no-repeat
  background-position top 21px right 1px

.service-tab-guarantee
  background url('../img/Layer_130.png') no-repeat
  background-position top 1px right 1px

.service-tab-credit
  background url('../img/Layer_119.png') no-repeat
  background-position top 1px right 1px
  .btn
    padding 14px 44px

.about
  margin 82px 0 86px
  h2
    font-size 30px
    line-height 30px
    text-transform uppercase
    margin 0 0 35px
  .text
    font-size 13px
    font-family "PT-Sans"
    line-height 24px
    margin-bottom 35px
    width 519px
  .text:nth-child(3)
    margin 0 0 28px
    width 400px
  .container
    display flex

.company
  display flex
  flex-direction column
  width 520px
  margin-right 120px
  .btn
    padding 14px 40px 12px
    margin-top 13px
    width 220px

.partners
  list-style none
  font-size 18px
  line-height 20px
  margin 0
  padding-left 0
  position relative
  .partners-item
    margin-bottom 17px
    position relative
    padding-left 35px
  .partners-item:before
    content ""
    position absolute
    left 0
    top 10px
    width 25px
    height 2px
    background-color $color-04

.contacts
  display flex
  flex-direction column
  .text
    width 180px
    margin 0 0 35px
  .btn
    padding 14px 59px 12px 63px
    margin-top 40px
    width 300px
  iframe
    border 0

/* catalog styles start */

.pager
  font-size 13px
  font-family "PT-Sans"
  line-height 18px
  color $color-01

.pager-list
  display flex
  justify-content center
  list-style none
  padding-left 0

.pager-item
  margin-right 10px
  border 1px solid $color-30
  background-color $color-01
  display flex
  .pager-item-link
    padding 14px 16px
    font-size 13px
    font-family "PT-Sans"
    color $color-07
    text-transform uppercase
  &:hover
    border 1px solid $color-31
  &:active
    border 1px solid $color-04
  .current
    background-color $color-04
    color $color-01

.pager-item:last-child
  .pager-item-link
    padding 14px 32px

.about-puncher
  padding 67px 0 73px
  background-color $color-29
  h3
    font-size 30px
    line-height 30px
    text-transform uppercase
    margin-bottom 37px
  p
    font-size 13px
    font-family "PT-Sans"
    line-height 24px
    margin 0
    width 861px

/* catalog styles end */

.page-footer
  background-color $color-06
  font-size 18px
  line-height 24px

.logo-bottom
  box-shadow inset 0 -5px 0 $color-05
  background-color $color-04
  width 220px
  padding 20px 41px 25px
  margin-right 164px
  display inline-flex

.footer-nav
  list-style none
  padding-left 0
  display inline-flex
  margin 0
  a
    color $color-18
    &:hover
      text-decoration underline
    &:active
      opacity 0.5

.footer-nav-item
  padding 25px 30px 13px

.footer-nav-item:first-child
  padding-left 0

.footer-nav-item:last-child
  padding-right 0

.footer-middle-row
  color $color-03
  margin 32px 0 53px

.footer-address
  display inline-flex
  flex-direction column
  width 322px
  margin-right 87px

.footer-category
  display inline-flex
  list-style none
  margin 0
  padding-left 0
  a
    color $color-19
    &:hover
      text-decoration underline
    &:active
      opacity 0.5

.footer-category-item
  padding 0 30px

.footer-category-item:first-child
  padding-left 0

.footer-category-item:last-child
  padding-right 0

.footer-bottom-row
  background-color $color-02
  font-size 16px

.footer-bottom-row
  .container
    padding 35px 10px 30px
  p
    color $color-01
  a
    color $color-19
    &:hover
      text-decoration underline
    &:active
      color $color-04

.footer-rights, .socials
  display inline-flex

.feedback, .developed
  margin 0
  display inline-flex
  flex-direction column

.footer-rights
  width 228px
  margin-right 161px

.socials
  margin-right 116px

.feedback
  width 135px
  margin-right 53px

.developed
  width 96px

.vk
  background url('../img/icon-vk.svg') no-repeat center
  width 26px
  height 15px

.facebook
  background url('../img/icon-fb.svg') no-repeat center
  width 12px
  height 22px

.instagram
  background url('../img/icon-insta.svg') no-repeat center
  width 21px
  height 21px

.social-item
  width 42px
  height 42px
  border-radius 50%
  margin-right 3px
  background-color $color-20
  &:hover, &:active
    background-color $color-04
  a
    display inline-block
    vertical-align top
    width 100%
    height 100%

/* send form start */

.popup-write-us
  width 620px
  border-top 7px solid $color-04
  box-shadow 0 20px 40px $color-36
  position relative
  p
    font-size 18px

.form-container
  padding 48px 80px 37px

.half-width
  display inline-flex
  flex-direction column
  width 220px

.form-name
  margin-right 16px
  input
    padding 14px 0 14px 16px

.form-e-mail
  input
    padding 14px 0 13px 16px

.form-text
  textarea
    padding 14px 0 0 16px
    resize none

.full-width
  display inline-flex
  flex-direction column
  width 460px
  margin-top 22px

.half-width, .full-width
  label
    margin-bottom 13px
  input, textarea
    border 2px solid $color-38
    font-size 13px
    font-family "PT-Sans"
    &:hover
      border 2px solid $color-47
    &:active
      border 2px solid $color-04

.form-button
  padding 37px 80px
  background-color $color-37
  .btn
    padding 14px 198px
    color $color-01
    border none

/* send form end */

/* cart popup start */

.cart-popup
  width 620px
  border-top 7px solid $color-04
  box-shadow 0 20px 40px $color-27
  position relative
  button
    text-transform uppercase
    border none

.popup-message
  display flex
  padding 55px 124px 49px 81px

.icon-mark
  background url('../img/icon-mark.svg')
  width 66px
  height 66px

.cart-popup-text
  margin-top 19px
  font-size 30px
  line-height 30px

.order-buy
  padding 37px 80px
  background-color $color-35
  .btn
    padding 14px 62px 14px 59px
    margin-right 14px
  button
    padding 14px 48px 12px 44px
    border none
    cursor pointer

.close
  background url('../img/icon-close.svg') no-repeat
  padding 20px
  background-position center
  border none
  position absolute
  right 0px
  top -4px

/* cart popup end */

