doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")
    title HTML Academy: Техномарт Каталог
  body.page
    header.page-header
      .container
        .top-row
          .logo-top
            img(src="", alt="alt")
          .search
            form(action="search.html" method="get")
              input(type="text" placeholder="Поиск:")
              button(type="submit")
          .bookmarks Закладки:
            span 0
          .mart Корзина:
            span 10
          .order Оформить заказ
        .middle-row
          .slogan
            h2 главные данные
            p Интернет-магазин строительных материалов и инструментов для ремонта
          .address
            a(href="tel:+78125550555") +7 (812) 555-05-55
            p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
          .authorization
            a(href="customer.html") Равшан Джамшутович
            ul
              li
                a(href="") Мои Заказы
              li
                a(href="") Личный кабинет
        nav.navigation
          ul.navigation-list
            li.navigation-item
              a.navigation-link(href="index.html") Главная
            li.navigation-item
              a.navigation-link(href="") Компания
            li.navigation-item
              a.navigation-link.current Каталог
            li.navigation-item
              a.navigation-link(href="") Новости
            li.navigation-item
              a.navigation-link(href="") Спецпредложения
            li.navigation-item
              a.navigation-link(href="") Доставка
            li.navigation-item
              a.navigation-link(href="") Контакты
    main.page-content
      .container
        ul.breadcrumbs
          li.breadcrumbs-item.home
            a(href="index.html") 
              img(src="", alt="home")
          li.breadcrumbs-item
            a(href="") Каталог 
          li.breadcrumbs-item
            a(href="") Инструмент
          li.breadcrumbs-item
            a.current Перфораторы
        h1 Перфораторы
        aside.aside
          p.filter фильтр:
          form(action="https://echo.htmlacademy.ru/courses" method="get")
            fieldset.choose-filter-0
              legend цена:
              .choose-price
                label(for="rating")
                input(id="rate" name="rate" min="0" max="30000" step="500" value="30000")
              .price-number
              .line
              .price-number
            fieldset.choose-filter
              legend Производители:
              p
                input(type="checkbox" name="bosch" id="bosch")
                label(for="bosch") bosch
              p
                input(type="checkbox" name="interscol" id="interscol") 
                label(for="") интерскол
              p
                input(type="checkbox" name="makita" id="makita") 
                label(for="makita") makita
              p
                input(type="checkbox" name="dewalt" id="dewalt") 
                label(for="dewalt") dewalt
              p
                input(type="checkbox" name="hitachi" id="hitachi") 
                label(for="hitachi") hitachi
            fieldset.choose-filter
              legend питание:
              p
                input(type="radio" name="charge" value="accum" id="accum") 
                label(for="accum") аккумуляторные
              p 
                input(type="radio" name="charge" value="network" id="network") 
                label(for="network") сетевые
            button(type="submit") Показать
        section.goods.catalog
          .sort
            p.sort-to сортировка:
            ul
              li.sort-to-price
                a(href="") по цене
              li.sort-to-type
                a(href="") по типу
              li.sort-to-functional
                a(href="") по функионалу
            ul
              li.sort-to-up
                a(href="")
              li.sort-to-down
                a(href="")
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
          .pager
            ul.pager-list
              li.pager-item
                a.current 1
              li.pager-item
                a(href="") 2
              li.pager-item
                a(href="") 3
              li.pager-item
                a(href="") Слудующая
        .about-puncher
          h3 пара слов о перфораторах
          p Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне. Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.
    footer.page-footer
      .container
        .top-row
          .logo-bottom
            img(src="", alt="alt")
          ul.footer-nav
            li
              a(href="") Компания
            li
              a(href="") Новости
            li
              a(href="catalog.html") Каталог
            li
              a(href="") Доставка
            li
              a(href="") Контакты
        .middle-row
          p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
            a(href="tel:+78125550555") +7 (812) 555-05-55
          ul.footer-category
            li
              a(href="") Материалы
            li
              a(href="") Техника
            li
              a(href="") Инструмент
            li
              a(href="") Спецпредложения
        .bottom-row
          p © 2010-2017 Компания "Техномарт" Все права защищены
          .social-vk
          .social-facebook
          .social-instagram
          p Обратная связь
          a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          a(href="https://htmlacademy.ru/intensive/htmlcss" target="_blank") Разработано htmlacademy.ru