doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    title HTML Academy: Техномарт Каталог
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")
  body.page
    header.page-header
      .container
        .top-row
          .logo-top
            a(href="")
              img(src="img/logo-technomart.svg", alt="logo")
          .search
            form(action="search.html" method="get")
              label(for="search")
                svg(xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17")
                  path(fill="#ffffff" d="M17 15.586l-3.542-3.542A7.465 7.465 0 0 0 15 7.5 7.5 7.5 0 1 0 7.5 15c1.71 0 3.282-.579 4.544-1.542L15.586 17 17 15.586zM2 7.5C2 4.467 4.467 2 7.5 2 10.532 2 13 4.467 13 7.5c0 3.032-2.468 5.5-5.5 5.5A5.506 5.506 0 0 1 2 7.5z")
              input(type="text" id="search" placeholder="Поиск:")
          .bookmarks
            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16")
              path(fill="#ffffff" d="M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z")
            a(href="") Закладки:
            span 0
          .cart
            svg(xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15")
              circle(fill="#ffffff" cx="4.5" cy="13.5" r="1.5")
              circle(fill="#ffffff" cx="12.5" cy="13.5" r="1.5")
              path(fill="#ffffff" d="M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z")
            a(href="") Корзина:
            span 10
          a.order(href="") Оформить заказ
        .middle-row
          .slogan
            h2.visually-hidden главные данные
            p Интернет-магазин строительных материалов и инструментов для ремонта
          .address
            a(href="tel:+78125550555") +7 (812) 555-05-55
            p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
          .authorization
            p.customer Равшан Джамшутович
              svg(xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18")
                path(fill="#c5c5c5" d="M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z")
            a.visually-hidden(href="") logout
              svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                path(fill="#c5c5c5" d="M14.875 8.5L6 0v6H0v5h6v6z")
                path(fill="#c5c5c5" d="M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z")
            ul
              li
                a(href="") Мои Заказы
              li
                a(href="") Личный кабинет
        nav.navigation
          ul.navigation-list
            li.navigation-item
              a.navigation-link(href="index.html") Главная
            li.navigation-item
              a.navigation-link(href="") Компания
            li.navigation-item
              a.navigation-link.current Каталог
            li.navigation-item
              a.navigation-link(href="") Новости
            li.navigation-item
              a.navigation-link(href="") Спецпредложения
            li.navigation-item
              a.navigation-link(href="") Доставка
            li.navigation-item
              a.navigation-link(href="") Контакты
    main.page-content
      .container
        ul.breadcrumbs
          li.breadcrumbs-item.home
            a(href="index.html")
              img(src="img/icon-home.svg", alt="home")
          li.breadcrumbs-item
            a(href="") Каталог
          li.breadcrumbs-item
            a(href="") Инструмент
          li.breadcrumbs-item
            a.current Перфораторы
        h1 Перфораторы
        aside.aside
          p.filter фильтр:
          form(action="https://echo.htmlacademy.ru/courses" method="get")
            fieldset.choose-filter-0
              legend цена:
              .choose-price
                label(for="rating")
                input(id="rate" name="rate" min="0" max="30000" step="500" value="30000")
              .price-number
              .line
              .price-number
            fieldset.choose-filter
              legend Производители:
              p
                input.visually-hidden(type="checkbox" name="bosch" id="bosch" checked)
                label(for="bosch") bosch
              p
                input.visually-hidden(type="checkbox" name="interscol" id="interscol")
                label(for="interscol") интерскол
              p
                input.visually-hidden(type="checkbox" name="makita" id="makita" checked)
                label(for="makita") makita
              p
                input.visually-hidden(type="checkbox" name="dewalt" id="dewalt")
                label(for="dewalt") dewalt
              p
                input.visually-hidden(type="checkbox" name="hitachi" id="hitachi")
                label(for="hitachi") hitachi
            fieldset.choose-filter
              legend питание:
              p
                input.visually-hidden(type="radio" name="charge" value="accum" id="accum" checked)
                label(for="accum") аккумуляторные
              p
                input.visually-hidden(type="radio" name="charge" value="network" id="network")
                label(for="network") сетевые
            button(type="submit") Показать
        section.goods.catalog
          .sort
            p.sort-to сортировка:
            ul
              li.sort-to-price
                a(href="") по цене
              li.sort-to-type
                a(href="") по типу
              li.sort-to-functional
                a(href="") по функионалу
            ul.arrows
              li.arrow-item-up
                a(href="") up
              li.arrow-item-down
                a(href="") down
          .goods-item
            a(href="")
              img(src="img/Perforator_3000.jpg", alt="Perforator_3000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_6000.jpg", alt="Perforator_6000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_2000.jpg", alt="Perforator_2000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_3000.jpg", alt="Perforator_3000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_6000.jpg", alt="Perforator_6000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_2000.jpg", alt="Perforator_2000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_3000.jpg", alt="Perforator_3000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_6000.jpg", alt="Perforator_6000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="img/Perforator_2000.jpg", alt="Perforator_2000")
            .visually-hidden
              a(href="") купить
              button(type="submit") в закладки
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
          .good-in-cart.visually-hidden
            .icon-mark
            p товар добавлен в корзину!
            a.btn(href="") оформить заказ
            button(type="submit") продолжить покупки
          .pager
            ul.pager-list
              li.pager-item
                a.current 1
              li.pager-item
                a(href="") 2
              li.pager-item
                a(href="") 3
              li.pager-item
                a(href="") Следующая
        .about-puncher
          h3 пара слов о перфораторах
          p Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне. Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.
    footer.page-footer
      .container
        .footer-top-row
          .logo-bottom
            img(src="img/logo-technomart.svg", alt="logo")
          ul.footer-nav
            li
              a(href="") Компания
            li
              a(href="") Новости
            li
              a(href="catalog.html") Каталог
            li
              a(href="") Доставка
            li
              a(href="") Контакты
        .footer-middle-row
          p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
            a(href="tel:+78125550555") +7 (812) 555-05-55
          ul.footer-category
            li
              a(href="") Материалы
            li
              a(href="") Техника
            li
              a(href="") Инструмент
            li
              a(href="") Спецпредложения
        .footer-bottom-row
          p © 2010-2017 Компания "Техномарт" Все права защищены
          section.socials
            .social-item.vk
              a(href="vk.com" target="_blank" aria-label="vk")
            .social-item.facebook
              a(href="facebook.com" target="_blank" aria-label="facebook")
            .social-item.instagram
              a(href="instagram.com" target="_blank" aria-label="instagram")
          p Обратная связь
          a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          p Разработано
          a(href="https://htmlacademy.ru/intensive/htmlcss" target="_blank") htmlacademy.ru
