doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")
    title HTML Academy: Техномарт Каталог
  body.page
    header.page-header
      .container
        .top-row
          .logo-top техномарт
            img(src="", alt="alt")
          .search Поиск:
          .bookmarks Закладки:
            span 0
          .mart Корзина:
            span 10
          .order Оформить заказ
        .middle-row
          h2 главные данные
          p Интернет-магазин строительных материалов и инструментов для ремонта
          a(href="tel:+78125550555")
          p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
          a(href="customer.html") Равшан Джамшутович
          ul
            li
              a(href="") Мои Заказы
            li
              a(href="") Личный кабинет
        .bottom-row
          nav
            ul
              li
                a(href="index.html") Главная
              li
                a(href="") Компания
              li
                a.current Каталог
              li
                a(href="") Новости
              li
                a(href="") Спецпредложения
              li
                a(href="") Доставка
              li
                a(href="") Контакты
    main.content
      .container
        ul
          li
            a(href="index.html") 
              img(src="", alt="home")
          li
            a(href="") Каталог 
          li
            a(href="") Инструмент
          li
            a.current Перфораторы
        .title Перфораторы
        .aside
          form(action="" method="post")
            fieldset.choose-filter
              legend Производители:
              p
                input(type="checkbox", name="manufacturer")
                label bosch
              p
                input(type="checkbox", name="manufacturer") 
                label интерскол
              p
                input(type="checkbox", name="manufacturer") 
                label makita
              p
                input(type="checkbox", name="manufacturer") 
                label dewalt
              p
                input(type="checkbox", name="manufacturer") 
                label hitachi
            fieldset.choose-filter-2
              legend питание:
              p
                input(type="radio", name="charge") 
                label аккумуляторные
              p 
                nput(type="radio", name="charge") 
                label сетевые
            button(type="submit") Показать
        .goods
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 3000
            p 22500 Р.
            p 15500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 6000
            p 30500 Р.
            p 25500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 2000
            p 12500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 3000
            p 22500 Р.
            p 15500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 6000
            p 30500 Р.
            p 25500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 2000
            p 12500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 3000
            p 22500 Р.
            p 15500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 6000
            p 30500 Р.
            p 25500 Р.
          .block
            a(href="")
              img(src="", alt="")
            h3 Перфоратор BOSCH BFG 2000
            p 12500 Р.
    footer.page-footer
      .container
        .top-row
          .logo-bottom  Техномарт
          ul
            li
              a(href="") Компания
            li
              a(href="") Новости
            li
              a(href="catalog.html") Каталог
            li
              a(href="") Доставка
            li
              a(href="") Контакты
        .middle-row
          p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
          a(href="tel:+78125550555") 
          ul 
            li
              a(href="") Материалы
            li
              a(href="") Техника
            li
              a(href="") Инструмент
            li
              a(href="") Спецпредложения
        .bottom-row
          p © 2010-2017 Компания "Техномарт" Все права защищены
          img(src="", alt="alt")
          p Обратная связь
          a(href="mailto:mail@htmlacademy.ru")
          p Разработано htmlacademy.ru