doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    title HTML Academy: Техномарт
  body
    p Репозиторий создан для обучения на профессиональном онлайн‑курсе 
    a(href="https://htmlacademy.ru/intensive/htmlcss") «HTML и CSS, уровень 1».