doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")
    title HTML Academy: Техномарт Главная
  body.page
    header.page-header
      .container
        .top-row
          .logo-top
            img(src="", alt="alt")
          .search
            form(action="search.html" method="get")
              input(type="text" placeholder="Поиск:")
              button(type="submit")
          .bookmarks Закладки:
            span 0
          .cart Корзина:
            span 0
          .order Оформить заказ
        .middle-row
          .slogan
            h2 главные данные
            p Интернет-магазин строительных материалов и инструментов для ремонта
          .address
            a(href="tel:+78125550555") +7 (812) 555-05-55
            p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
          .authorization
            a(href="login.html") Войти
            a(href="registration.html") Регистриция
        nav.navigation
          ul.navigation-list
            li.navigation-item
              a.current Главная
            li.navigation-item
              a.navigation-link(href="") Компания
            li.navigation-item
              a.navigation-link(href="catalog.html") Каталог
            li.navigation-item
              a.navigation-link(href="") Новости
            li.navigation-item
              a.navigation-link(href="") Спецпредложения
            li.navigation-item
              a.navigation-link(href="") Доставка
            li.navigation-item
              a.navigation-link(href="") Контакты
    main.content
      section.categories
        .left-category
          .item.material
            h3
            a(href="")
          .item.tool
            h3
            a(href="")
          .item.slider
            .slider-item
              h3 Перфораторы
              p Настоящие мужские игрушки
              a(href="catalog.html")
            .slider-item
              h3 Дрели
              p Соседям на радость!
              a(href="catalog.html")
            .controls
            button
            button
        .right-category
          .item.technic
            h3
            a(href="")
          .item.sale
            h3
            a(href="")
          .item.delivery
            h3
            a(href="")
      section.popular-products
        header.popular-goods
          h3 Популярные товары:
          a(href="") все популярные товары
        .goods
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 9000
            s.old-price 32500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 3000
            s.old-price 22500 Р.
            p.price 15500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 6000
            s.old-price 30500 Р.
            p.price 25500 Р.
          .goods-item
            a(href="")
              img(src="", alt="")
            h3.title Перфоратор BOSCH BFG 2000
            p.price 12500 Р.
        .popular-manufacturer
          h3 Популярные Производители:
          a(href="") все производители
        .manufacturers
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")
          .manufacturers-item
            a(href="")
              img(src="", alt="")            
      .content-services
        .service
          h3 Сервисы
          p Хороший интернет-магазин отличается от плохого не только ценами! Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.
          .wrapper
            ul.service-tab-nav
              li.service-tab-item(data-name="1")
              a(href="") Доставка
              li.service-tab-item(data-name="2") Гарантия
              li.service-tab-item(data-name="3") Кредит
            .service-tab-content
              .service-tab-item
                h3 Доставка
                p Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы неплохо заработаем, поднимая его на ваш этаж!
                img(src="", alt="")
              .service-tab-item
                h3 Гарантия
                p Если купленный у нас товар поломается или заискрит, а также в случае пожара, спровоцированного его возгоранием,  вы всегда можете быть уверены в нашей гарантии. Мы обменяем сгоревший товар на новый. Дом уж восстановите как-нибудь сами.
                img(src="", alt="")
              .service-tab-item
                h3 Кредит
                p Залезть в долговую яму стало проще! Кредитные консультанты придут вам на помощь.
                a(href="") отправить заявку
                img(src="", alt="")
      .content-about
        .company
          h2 Компания "Техномарт"
          p.company-text Настоящий мужской шопинг начинается здесь! огромный выбор товаровдля ремонта и строительства не оставит равнодушным любителей сэкономить на гастарбайтерах. 
          p.company-text Мы можемдоставить ваш товар в самые отдельные точки России! Техномарт работает со многими ранспортными компаниями:
          ul.partners
            li.partner Деловые линии
            li.partner Автотрейдинг
            li.partner ЖелДорЭкспедиция
          a(href="about.html") Подробнее о компании 
        .contacts
          h2 Контакты
          p можете выбрать товар сами, заехав в наш офис:
          iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af7942402afd77c97127f6b87a4f2f23d35437ba63bd0ca024083946f659745f8&amp;source=constructor" width="300" height="158" frameborder="0")
          a(href="") Заблудились? Напишите нам!
    footer.page-footer
      .container
        .top-row
          .logo-bottom
            img(src="", alt="alt")
          ul.footer-nav
            li
              a(href="") Компания
            li
              a(href="") Новости
            li
              a(href="catalog.html") Каталог
            li
              a(href="") Доставка
            li
              a(href="") Контакты
        .middle-row
          p г. Санкт-петербург, ул. Б. Конюшенная, д. 19/8
            a(href="tel:+78125550555") +7 (812) 555-05-55
          ul.footer-category
            li
              a(href="") Материалы
            li
              a(href="") Техника
            li
              a(href="") Инструмент
            li
              a(href="") Спецпредложения
        .bottom-row
          p © 2010-2017 Компания "Техномарт" Все права защищены
          .social-vk
          .social-facebook
          .social-instagram
          p Обратная связь
          a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          a(href="https://htmlacademy.ru/intensive/htmlcss" target="_blank") Разработано htmlacademy.ru